{% extends 'layouts/base.html' %}

{% block title %}Jude Capachietti's website{% endblock %}
{% block meta_description %}Learn about Jude Capachietti, see his portfolio and more.{% endblock %}

{% block body %}
    <div class="w3-content" style="max-width:2000px;margin-top:46px">

      <!-- Name Gender Classifier Section -->
      <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="jude">
        <h1 class="w3-wide"><b>Text Gender Classifier</b></h1>
        <p class="w3-opacity"><i>Predicts whether text sounds like it is written by a male or female.  Try it out!</i></p>
        <br>
        <div class="w3-content w3-padding-32 grad" style="max-width:700px;">
            <div class="w3-row">
                <h4>This works best typing between 50 and 100 words:</h4>
                <p><textarea id="textInput" name="textInput" rows="7" style = "max-width:90%;width:80%;" ></textarea></p>
                <div class="w3-content w3-row">
                    <div class="w3-container w3-cell w3-third">Word count: <span id="wordCount">0</span>
                    </div>
                    <div class="w3-container w3-cell w3-third">
                    </div>
                    <div class="w3-container w3-cell w3-third">
                        <button onclick="callClassifier()" class="w3-button w3-black w3-hover-dark-grey" id="classify" name="submit" style="color:white; margin-left:.5em;">Classify</button>
                    </div>
                </div>
            </div>
            <div class="w3-content w3-row">
                <div class="w3-container w3-cell w3-third">
                    <h5>Prediction:</h5>
                    <p id="prediction">Click classify to find out</p>
                </div>
                <div class="w3-container w3-cell w3-third">
                    <h5>Certainty female:</h5>
                    <p id="certFemale">Click classify to find out</p>
                </div>
                <div class="w3-container w3-cell w3-third">
                    <h5>Certainty male:</h5>
                    <p id="certMale">Click classify to find out</p>
                </div>

            </div>
            <div class="w3-content w3-row">
                <div class="w3-container w3-cell w3-third">
                </div>
                <div class="w3-container w3-cell w3-twothird">
                    <div id="maleBar">
                        <div id="femaleBar" class="w3-container-padding w3-center" style="height:24px;width:0%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <p class="w3-opacity"><i>How does it work?  What does it do?</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-center">
                <p class="w3-justify">
                    I built this classifier using a deep neural network with word embeddings.  The word embeddings are
                    averaged together in a weighted average and the neural network has 2 layers.  It has been quite a
                    journey to get this classifier to work and I have learned a lot from it.  It is trained off the
                    the Blog Authorship Corpus.  The main issue I was having when getting this classifier to work
                    effectively is that my computer is not powerful enough to run through the whole dataset, so I had
                    to break down the data into a small sample, then I only took the first 100 words of blog entries
                    that were over 100 words in length and I skipped over blog entries that didn't have at least 50
                    words.  I also made sure I had an approximately 50% male and 50% female training dataset.  This
                    reduced the amount of hyper parameters down to a point where I could train an effective model,
                    but in the future I am going to use Microsoft Azure to train a Deep Averaging Neural Network on
                    the whole Blog Authorship Corpus.  Then I plan on expanding this project to be a chrome extension
                    that people can use to check their email and other text on the internet.
                </p>
            </div>

        </div>

      </div>

    <!-- End Page Content -->
    </div>


    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        .grad {background-image: linear-gradient(60deg, #6600cc, #ff0066)}
        #femaleBar {background: rgb(0, 0, 0)}
        #maleBar {background: rgba(0, 0, 0, .5)}
    </style>



    <script>
<!--    classifier api call logic-->
    function callClassifier() {
      var textInputString = document.getElementById("textInput").value;
      axios.post('/api/textGender',{textInput: textInputString})
            .then(response => {
<!--                console.log(response.data);-->
                document.getElementById("prediction").innerHTML = response.data["prediction"]
                document.getElementById("certFemale").innerHTML = response.data["certainty"]["female"]
                document.getElementById("certMale").innerHTML = response.data["certainty"]["male"]
                move(response.data["certainty"]["female"])
            })
            .catch(error => console.error(error));
    }
<!--    word count logic-->
    var input = document.querySelectorAll('textarea')[0];
    input.addEventListener('keyup', function() {

      // word counter logic
        var words = input.value.match(/\b[-?(\w+)?]+\b/gi);
        if(words === null){
            document.getElementById("wordCount").innerHTML = 0
        }
        else {
            document.getElementById("wordCount").innerHTML = words.length
        }
    });

<!--    sliding graph update-->
    function move(femaleBarPercent) {
      var elem = document.getElementById("femaleBar");
      var width = 1;
      var id = setInterval(frame, 1);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = femaleBarPercent;
        }
      }
    }

    </script>

{% endblock %}